*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
img{
    display: block;
}
.container{
    width:80%;
    display: block;
}
.clear{
    clear: both;
    display: block;
}
header{
    padding: 20px 0;
}
header h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    color: blue;
    text-align: center;
}
nav{
    background-color: cornflowerblue;
}
.menu{
    padding: 15px 0;
}
.menu a{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding:0px 50px;
}
.menu a:hover:first-child{
    color: blue;
}
.menu a:hover:nth-child(2){
    color: blue;
}
.menu a:hover:nth-child(3){
    color: blue;
}
.menu a:hover:nth-child(4){
    color: blue;
}
.menu a:hover:nth-child(5){
    color: blue;
}
.banner{
    position: relative;
}
.banner img{
    width: 100%;
    height: 500px;
}
.info{
    position: absolute;
    top: 300px;
    left: 500px;
    transform:translate(-50%, -50%);
    background-color: rgb(117, 0, 0);
    padding: 5px 5px;
    /* opacity: 0.5; */
    text-align: center;
    color: black;
}
.info h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.info p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5px;
}
#feature{
    padding: 30px;
}
#feature h3{
    font-size: 30px;
    display: inline-block;
    text-align: center;
    border-bottom: 2px solid black;
    display: inline-block;
    color: rgb(0, 0, 0);
}
.boxes{
    padding-top: 30px;
    display: flex;
}
.box{
    width: 30%;
    position: relative;
}
.box img{
    width: 100%;
    height: 200px;
}
.box h4 a{
    position:absolute;
    bottom: 0;
    /* left: 100px; */
    background-color: rgb(150, 150, 150);
    text-decoration: none;
    /* padding-left: 50px;
    padding-right: 50px; */
}